.employee-page {
    background: url('Images/logo.jpg');
    background: linear-gradient(rgba(246, 246, 246, 0.37), rgba(109, 22, 22, 0.215)), url("Images/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
}